body{
    background-color: #e0e0ff;
    font-family: sans-serif;
    color: #100020;
    padding: 0em;
    margin: 0em;
}
.headerbox{
    background-color: #c0c0f0;
    font-weight: normal;
    margin: 0.25em;
    padding: 0.25em 0.5em;
}
a{
    font-weight: lighter;
}